.memo-input-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 600px; /* 가로 길이를 고정 */
    max-width: 100%; /* 반응형으로 가로 길이 제한 */
    margin: 15px auto;
    padding: 20px;
    border: 1px solid #ced4da; /* 테두리 추가: 색상과 두께 설정 */
    border-radius: 8px; /* 모서리 둥글게 설정 (선택 사항) */
}

/* 다크 모드 */
[data-theme="dark"] .memo-input-form {
    background-color: #333; /* 어두운 모드 배경색 */
    border: 1px solid #444; /* 어두운 모드 테두리 색 */
    border-radius: 5px; /* 테두리 모서리 둥글게 */
    padding: 20px; /* 패딩 추가 */
}

.memo-input-form input {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc; /* 기본 테두리 색 */
    border-radius: 5px;
    width: 100%; /* 입력창 가로를 form에 맞추기 */
    box-sizing: border-box; /* padding 포함하여 width 계산 */
}

/* 다크 모드 입력창 */
[data-theme="dark"] .memo-input-form input {
    border: 1px solid #666; /* 어두운 모드에서 입력창 테두리 색 */
    background-color: #444; /* 어두운 모드 입력창 배경색 */
    color: #eee; /* 어두운 모드 텍스트 색 */
}

/* 텍스트 영역 스타일 */
.memo-input-form textarea {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc; /* 기본 테두리 색 */
    border-radius: 5px;
    height: 200px;
    resize: vertical; /* Allow only vertical resizing */
    width: 100%; /* Set a fixed width */
    max-height: calc(100vh - 200px); /* Limit height based on viewport size */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

/* 다크 모드 텍스트 영역 */
[data-theme="dark"] .memo-input-form textarea {
    border: 1px solid #666; /* 어두운 모드에서 텍스트 영역 테두리 색 */
    background-color: #444; /* 어두운 모드 텍스트 영역 배경색 */
    color: #eee; /* 어두운 모드 텍스트 색 */
}

.memo-input-form button {
    padding: 10px;
    border: none;
    background-color: #007bff; /* 기본 버튼 배경색 */
    color: white; /* 기본 버튼 텍스트 색 */
    border-radius: 5px;
    cursor: pointer;
}

/* 다크 모드 버튼 */
[data-theme="dark"] .memo-input-form button {
    background-color: #0069d9; /* 어두운 모드 버튼 배경색 */
}

/* 다크 모드 버튼 호버 상태 */
[data-theme="dark"] .memo-input-form button:hover {
    background-color: #0056b3; /* 호버 시 어두운 모드 버튼 색 */
}

/* 기본 버튼 호버 상태 */
.memo-input-form button:hover {
    background-color: #0056b3; /* 기본 호버 색상 */
}
